
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background-color: rgb(240, 238, 238);
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    background-color: #A8A196;
}

.menu-opcoes{
    padding-top: 20px;
    display: flex;
    gap: 60px;
    text-decoration: none;
}

.menu-opcoes-link{
    font-family:'Times New Roman', Times;
    font-size:22px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

/* -------------------- */

.cabecalho{
    background-color: #F24C3D;
    flex-direction: column;
    display:flex;
    padding: 10px;
    padding-left: 5%;
}

.cabecalho-titulo{
    font-family: 'Times New Roman', Times;
    font-weight: 400;
    font-size: 60px;
}

.cabecalho-subtitulo{
    font-family: 'Times New Roman', Times;
    font-size: 25px;
}

/* -------------------- */

.conteudo{
    align-items: center;
}

.conteudo-principal{
    flex-direction: column;
    display: flex;
    margin: 4%;
}

.conteudo-principal-titulo{
    font-family: 'Times New Roman', Times;
    font-size: 39px;
}

.conteudo-principal-escrito{
    margin-top: 2%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.conteudo-principal-agrupado{
    display: flex;
    flex-direction: row;
}

.conteudo-principal-agrupado-escrito{
    flex-direction: column;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.conteudo-principal-agrupado-escrito-paragrafo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.conteudo-secundario{
    background-color: #F4E0B9;
    padding-top: 4%;
}

.conteudo-secundario-titulo{
    font-family: 'Times New Roman', Times;
    font-size: 39px;
    margin: 4%;
}

.conteudo-secundario-agrupado{
    display: flex;
    flex-direction: row;
    margin: 4%;
}

.conteudo-secundario-agrupado-escrito{
    justify-content: center;
    margin-right: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.conteudo-secundario-escrito{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-bottom: 2%;
    margin: 4%;
}

.conteudo-secundario-imagens{
    flex-direction: row;
    margin: 4%;
    gap: 10px;
    align-items: center;
}

.conteudo-secundario-final{
     padding-bottom: 2%;
    margin: 4%;
    gap: 10px;
    align-items: center;
}

/* ------------------------ */

.rodape-agrupado{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    margin-bottom: 3%;
}

/* ------------------ */

.grupo-imagem-bike{
    flex-direction: row;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.imagem-bike{
    margin: 20px;
}

.legenda{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: rgb(192, 2, 2);
}

.botao-bike{
    background-color: rgb(235, 91, 91);
    font-family: 'Times New Roman';
    font-size: 17px;
    padding: 5px;
    margin-left: 38%;
    border-radius: 9%;
}

.rodape-bike{
    background-color: #F24C3D;
    margin-top: 15px;
    padding-top: 15px;
}